{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
 
{% block body_class %}template-articulopage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% comment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}"> {% endcomment %}
{% endblock extra_css %}

{% block content %}

<div class="main-content">
    <div class="container">
        <div class="row pt-3 pb-5 mt-4">

            <!-- Content section -->
            <div class="col-lg-8">
                <div class="pr-xl-3 pb-5 pb-lg-0 mb-5 mb-lg-0">

                    <!-- Slider images -->
                    <div id="carouselIndicatorsCircle" class="carousel slide gallery-slides arrow-nav-overflow rounded-lg shadow-sm mb-5" data-ride="carousel">
                        <ol class="carousel-indicators carousel-indicator-circle">
                            <li data-target="#carouselIndicatorsCircle" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselIndicatorsCircle" data-slide-to="1"></li>
                            <li data-target="#carouselIndicatorsCircle" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% if page.imagen1 %} {% image page.imagen1 original as tmp_photo %}
                            <div class="carousel-item active">
                                <a href="../../assets/images/upload/slide-gallery-04.jpg" data-fancybox="slide-gallery-two" data-caption="Cursus Metus Purus">
                                    <div class="gallery-slides-hover"></div>
                                    <img class="d-block w-100" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.url }}" alt="First slide">
                                </a>
                            </div>
                            {%endif%}
                            {% if page.imagen2 %} {% image page.imagen2 original as tmp_photo %}
                            <div class="carousel-item">
                                <a href="../../assets/images/upload/slide-gallery-05.jpg" data-fancybox="slide-gallery-two" data-caption="Integer Gravida Varius">
                                    <div class="gallery-slides-hover"></div>
                                    <img class="d-block w-100" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.url }}" alt="Second slide">
                                </a>
                            </div>
                            {%endif%}
                            {% if page.imagen3 %} {% image page.imagen3 original as tmp_photo %}
                            <div class="carousel-item">
                                <a href="../../assets/images/upload/slide-gallery-06.jpg" data-fancybox="slide-gallery-two" data-caption="Donec Nulla Vulputate">
                                    <div class="gallery-slides-hover"></div>
                                    <img class="d-block w-100" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.url }}" alt="Third slide">
                                </a>
                            </div>
                            {%endif%}
                        </div>
                        <a class="carousel-control-prev" href="#carouselIndicatorsCircle" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselIndicatorsCircle" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <!-- Blog title -->
                    <h3 class="font-weight-700">{{ page.titulo|upper }}</h3>
                    
                    <!-- Blog meta -->
                    <ul class="meta-entry mb-5">
                        <li class="meta-entry-item">
                            <a href="#"> Artículo publicado el: {{page.last_published_at|date:"d-M-Y" }}</a>
                        </li>
                    </ul>

                    <!-- Text content -->
                    <div class="mb-5">
                        <p><span class="drop-cap"></span>{{page.descripcion|safe }}</p>
                    </div>

                    <!-- Blockquote -->
                    <div class="py-3">
                        <blockquote class="blockquote-2 border-left mb-5">
                            <p class="mb-0">La Educación es el arma más poderosa que puedes usar para cambiar el mundo.</p>
                            <footer class="blockquote-footer">Nelson Mandela ( 1918 - 2013 )</footer>
                        </blockquote>
                    </div>

                    <!-- Share this -->
                    <div class="d-flex align-items-center justify-content-start mb-5"> 

                        <span class="badge badge-pill badge-light">Share This</span>

                        <div class="d-flex ml-2">
                            <a href="#" target="_blank" class="d-flex align-items-center justify-content-center text-dark" data-width="40px" data-height="40px"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" target="_blank" class="d-flex align-items-center justify-content-center text-dark" data-width="40px" data-height="40px"><i class="fab fa-twitter"></i></a>
                            <a href="#" target="_blank" class="d-flex align-items-center justify-content-center text-dark" data-width="40px" data-height="40px"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#" target="_blank" class="d-flex align-items-center justify-content-center text-dark" data-width="40px" data-height="40px"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#" target="_blank" class="d-flex align-items-center justify-content-center text-dark" data-width="40px" data-height="40px"><i class="fas fa-paper-plane"></i></a>
                        </div>

                    </div>
            
                </div>
            </div>

            <!-- Sidebar section -->
            <div class="col-lg-4">
                <div class="sidebar pl-xl-3">
                    
                    <!-- Widget banner -->
                    <div class="widget">
                        <a href="#">
                        <img src="{% static 'img/LOGO_OFICIAL_SEDUC.png'%}" alt="image"
                        class="img-fluid animated pulse infinite" style="animation-duration: 5s;"
                        data-animated="fadeInLeft">
                        </a>
                    </div>

                    <!-- Widget recent news -->
                    <div class="widget">

                        <h5 class="widget-title section-title-3 font-weight-700 text-left">Noticias Recientes {{noticia}}</h5>
                        
                        <ul class="recent-blogs">
                                
                           

                            

                            <li class="pb-4 mb-3">
                                <div class="media">
                                    <div class="hover-item hover-uncaption mr-4 rounded-circle shadow">
                                        <a href="#">
                                            <div class="hover-transition rounded-circle">
                                                <div class="hover-down">
                                                    <i class="fas fa-link fa-lg hover-icon"></i>
                                                </div>
                                            </div>
                                            <figure>
                                                <img src="../../assets/images/upload/latest-news-03.jpg" alt="image">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="blog-title font-italic mb-1">
                                            <a href="#">Praesent dolor ornare</a>
                                        </h6>
                                        <ul class="meta-entry mb-3">
                                            <li class="meta-entry-item">
                                                <a href="#">14 Sep 2020</a>
                                            </li>
                                            <li class="meta-entry-item">
                                                <a href="#">John Davis</a>
                                            </li>
                                        </ul>
                                        <p class="mb-0">Curabitur enim dolor ac sapien aliquam varius molestie</p>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                <!-- Widget contact box -->
                <!-- <div class="contact-box h-100 px-4 py-5 text-white-75 text-center rounded-xl shadow-lg bg-image" data-img-src="../../static/img/contact-box-bg-01.jpg">
                    <div class="py-2 px-xl-3">
                
                        <h4 class="section-title-3 title-light-1 text-center font-weight-700 mb-4">Contact Info</h4>
                
                        <div class="contact-info-list pt-3">
                
                            <div class="col-12 contact-info-item pb-2 mb-4">
                                <div class="icon-info-4 text-center">
                                    <div class="icon-element mb-3 text-white">
                                        <i class="fas fa-map-marker-alt fa-2x"></i>
                                    </div>
                                    <div class="icon-info-text pt-1">
                                        <h6 class="mb-1 font-weight-700 text-white">Address</h6>
                                        <p class="mb-0">1355 3rd Street San Francisco<br>CA 94124 United States</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-12 contact-info-item pb-2 mb-4">
                                <div class="icon-info-4 text-center">
                                    <div class="icon-element mb-3 text-white">
                                        <i class="fas fa-mobile-alt fa-2x"></i>
                                    </div>
                                    <div class="icon-info-text pt-1">
                                        <h6 class="mb-1 font-weight-700 text-white">Phone</h6>
                                        <p class="mb-0">+1 732 418 2837</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-12 contact-info-item">
                                <div class="icon-info-4 text-center">
                                    <div class="icon-element mb-3 text-white">
                                        <i class="fas fa-paper-plane fa-2x"></i>
                                    </div>
                                    <div class="icon-info-text pt-1">
                                        <h6 class="mb-1 font-weight-700 text-white">Email</h6>
                                        <a href="mailto:contact@yourdomain.com" class="text-white-75">contact@yourdomain.com</a>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                
                    </div>
                </div>
                 -->
                    <!-- <div class="widget">
                        <div class="contact-box h-100 px-4 py-5 text-blue-75 rounded-lg shadow-sm bg-image" data-img-src="../../assets/images/upload/contact-box-bg-04.jpg">
                            <div class="px-xl-3">

                                <h5 class="section-title-3 title-light-1 font-weight-700 text-left mb-5">Get in Touch</h5>

                                <div class="row contact-info-list">
    
                                    <div class="col-12 contact-info-item">
                                        <div class="icon-info-1">
                                            <div class="icon-element text-white pt-1">
                                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                            </div>
                                            <div class="icon-info-text pl-2">
                                                <h6 class="mb-1 font-weight-700 text-white">Address</h6>
                                                <p class="mb-0">2763 Finwood Road<br>New Brunswick, NJ 08901</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 contact-info-item">
                                        <div class="icon-info-1">
                                            <div class="icon-element text-white pt-1">
                                                <i class="fas fa-mobile-alt fa-2x"></i>
                                            </div>
                                            <div class="icon-info-text pl-2">
                                                <h6 class="mb-1 font-weight-700 text-white">Phone</h6>
                                                <p class="mb-0">+1 732 418 2837<br>+1 415 584 5290</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 contact-info-item">
                                        <div class="icon-info-1">
                                            <div class="icon-element text-white pt-1">
                                                <i class="fas fa-paper-plane fa-2x"></i>
                                            </div>
                                            <div class="icon-info-text pl-2">
                                                <h6 class="mb-1 font-weight-700 text-white">Email</h6>
                                                <a href="mailto:contact@yourdomain.com" class="text-white-75">contact@domain.com</a>
                                                <a href="mailto:info@yourdomain.com" class="text-white-75">info@domain.com</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
    
                            </div>
                        </div>
                    </div> -->

                    <!-- Widget categories -->
                    <!-- <div class="widget">

                        <h5 class="widget-title section-title-3 font-weight-700 text-left">Categories</h5>

                        <ul class="list-unstyled mb-0">

                            <li class="mb-3">
                                <a href="#" class="text-dark-gray">Mauris Pulvinar Sem Posuere</a>
                                <span class="badge badge-pill badge-light shadow-sm ml-2">120</span>
                            </li>

                            <li class="mb-3">
                                <a href="#" class="text-dark-gray">Neca Congue Cursus Lacus</a>
                                <span class="badge badge-pill badge-light shadow-sm ml-2">120</span>
                            </li>

                            <li class="mb-3">
                                <a href="#" class="text-dark-gray">Cursus Semper In Consequa</a>
                                <span class="badge badge-pill badge-light shadow-sm ml-2">120</span>
                            </li>

                            <li class="mb-3">
                                <a href="#" class="text-dark-gray">Malesuada Sapien Phasellus</a>
                                <span class="badge badge-pill badge-light shadow-sm ml-2">120</span>
                            </li>

                            <li class="mb-3">
                                <a href="#" class="text-dark-gray">Convallis Fusce Malesuada</a>
                                <span class="badge badge-pill badge-light shadow-sm ml-2">120</span>
                            </li>

                            <li>
                                <a href="#" class="text-dark-gray">Molestie Aliquam Maecenas</a>
                                <span class="badge badge-pill badge-light shadow-sm ml-2">120</span>
                            </li>
                            
                        </ul>
                        
                    </div> -->

                    <!-- Widget gallery feed -->
                    <!-- <div class="widget">

                        <h5 class="widget-title section-title-3 font-weight-700 text-left">Gallery Feed</h5>

                        <div class="row widget-gallery-feed">
                            <div class="col-4 gallery-feed-item">
                                <div class="hover-item hover-uncaption rounded-lg shadow-sm">
                                    <a href="../../assets/images/upload/widget-gallery-feed-lightbox-07.jpg" data-fancybox="gallery-feed">
                                        <div class="hover-transition">
                                            <div class="hover-down p-0">
                                                <i class="far fa-eye fa-lg hover-icon"></i>
                                            </div>
                                        </div>
                                        <figure>
                                            <img class="w-100" src="../../assets/images/upload/widget-gallery-feed-07.jpg" alt="image">
                                        </figure>
                                    </a>
                                </div>        
                            </div>
                            <div class="col-4 gallery-feed-item">
                                <div class="hover-item hover-uncaption rounded-lg shadow-sm">
                                    <a href="../../assets/images/upload/widget-gallery-feed-lightbox-08.jpg" data-fancybox="gallery-feed">
                                        <div class="hover-transition">
                                            <div class="hover-down p-0">
                                                <i class="far fa-eye fa-lg hover-icon"></i>
                                            </div>
                                        </div>
                                        <figure>
                                            <img class="w-100" src="../../assets/images/upload/widget-gallery-feed-08.jpg" alt="image">
                                        </figure>
                                    </a>
                                </div>        
                            </div>
                            <div class="col-4 gallery-feed-item">
                                <div class="hover-item hover-uncaption rounded-lg shadow-sm">
                                    <a href="../../assets/images/upload/widget-gallery-feed-lightbox-09.jpg" data-fancybox="gallery-feed">
                                        <div class="hover-transition">
                                            <div class="hover-down p-0">
                                                <i class="far fa-eye fa-lg hover-icon"></i>
                                            </div>
                                        </div>
                                        <figure>
                                            <img class="w-100" src="../../assets/images/upload/widget-gallery-feed-09.jpg" alt="image">
                                        </figure>
                                    </a>
                                </div>        
                            </div>
                            <div class="col-4 gallery-feed-item">
                                <div class="hover-item hover-uncaption rounded-lg shadow-sm">
                                    <a href="../../assets/images/upload/widget-gallery-feed-lightbox-10.jpg" data-fancybox="gallery-feed">
                                        <div class="hover-transition">
                                            <div class="hover-down p-0">
                                                <i class="far fa-eye fa-lg hover-icon"></i>
                                            </div>
                                        </div>
                                        <figure>
                                            <img class="w-100" src="../../assets/images/upload/widget-gallery-feed-10.jpg" alt="image">
                                        </figure>
                                    </a>
                                </div>        
                            </div>
                            <div class="col-4 gallery-feed-item">
                                <div class="hover-item hover-uncaption rounded-lg shadow-sm">
                                    <a href="../../assets/images/upload/widget-gallery-feed-lightbox-11.jpg" data-fancybox="gallery-feed">
                                        <div class="hover-transition">
                                            <div class="hover-down p-0">
                                                <i class="far fa-eye fa-lg hover-icon"></i>
                                            </div>
                                        </div>
                                        <figure>
                                            <img class="w-100" src="../../assets/images/upload/widget-gallery-feed-11.jpg" alt="image">
                                        </figure>
                                    </a>
                                </div>        
                            </div>
                            <div class="col-4 gallery-feed-item">
                                <div class="hover-item hover-uncaption rounded-lg shadow-sm">
                                    <a href="../../assets/images/upload/widget-gallery-feed-lightbox-12.jpg" data-fancybox="gallery-feed">
                                        <div class="hover-transition">
                                            <div class="hover-down p-0">
                                                <i class="far fa-eye fa-lg hover-icon"></i>
                                            </div>
                                        </div>
                                        <figure>
                                            <img class="w-100" src="../../assets/images/upload/widget-gallery-feed-12.jpg" alt="image">
                                        </figure>
                                    </a>
                                </div>        
                            </div>
                            <div class="col-4 gallery-feed-item">
                                <div class="hover-item hover-uncaption rounded-lg shadow-sm">
                                    <a href="../../assets/images/upload/widget-gallery-feed-lightbox-13.jpg" data-fancybox="gallery-feed">
                                        <div class="hover-transition">
                                            <div class="hover-down p-0">
                                                <i class="far fa-eye fa-lg hover-icon"></i>
                                            </div>
                                        </div>
                                        <figure>
                                            <img class="w-100" src="../../assets/images/upload/widget-gallery-feed-13.jpg" alt="image">
                                        </figure>
                                    </a>
                                </div>        
                            </div>
                            <div class="col-4 gallery-feed-item">
                                <div class="hover-item hover-uncaption rounded-lg shadow-sm">
                                    <a href="../../assets/images/upload/widget-gallery-feed-lightbox-14.jpg" data-fancybox="gallery-feed">
                                        <div class="hover-transition">
                                            <div class="hover-down p-0">
                                                <i class="far fa-eye fa-lg hover-icon"></i>
                                            </div>
                                        </div>
                                        <figure>
                                            <img class="w-100" src="../../assets/images/upload/widget-gallery-feed-14.jpg" alt="image">
                                        </figure>
                                    </a>
                                </div>        
                            </div>
                            <div class="col-4 gallery-feed-item">
                                <div class="hover-item hover-uncaption rounded-lg shadow-sm">
                                    <a href="../../assets/images/upload/widget-gallery-feed-lightbox-15.jpg" data-fancybox="gallery-feed">
                                        <div class="hover-transition">
                                            <div class="hover-down p-0">
                                                <i class="far fa-eye fa-lg hover-icon"></i>
                                            </div>
                                        </div>
                                        <figure>
                                            <img class="w-100" src="../../assets/images/upload/widget-gallery-feed-15.jpg" alt="image">
                                        </figure>
                                    </a>
                                </div>        
                            </div>
                        </div>
                        
                    </div> -->

                </div>
            </div>

            

        </div>
    </div>
</div>
    




{% endblock content %}

{% block js%}
z
{% endblock js%}